
/* stcicky css */

.header_area.sticky {
    background-color: #F0EFEF;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
}
.nav a{
    color:#F03D43;
}
.menu_area nav ul li > a:hover {
    color: #522F7D;
}
.header_area.sticky .menu_area .navbar-brand {
    font-size: 50px;
}

.header_area.sticky .menu_area #nav .nav-link {
    padding: 23px 15px;
}
.header_area.sticky .navbar {
    padding: 0;
}


.welcome-thumbE {
    width: 45%;
    position: absolute;
    bottom: -150px;
    right: 85px;
    z-index: 9;
}

.welcome-thumbE img {
    height: auto;
    width: 80%;
}


.sing-up-buttonE {
    text-align: right;
}

.sing-up-buttonE > a {
    color: #ffffff;
    background: #522F7D;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #F03D43;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
}

.sing-up-buttonE > a:hover {
    background: #F03D43;
    color: #fff;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}


/* --------------------------
:: 3.0 Wellcome Area CSS
-------------------------- */

.wellcome_areaE {
    background-image: url(img/errol-img/welcomeErrol-bg.png);
    height: 800px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.wellcome_areaE:after {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #fff;
    content: '';
    bottom: 0;
    z-index: 2;
}


.wellcome-headingE > p {
    color: #522F7D;
}

.wellcome-headingE > img {
    width: 60%;
    padding-top: 30px;
}



.wellcome-headingE {
    margin-bottom: 150px;
}


.get-start-areaE .submit {
    background-color: #F03D43;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: none;
    height: 50px;
    min-width: 167px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
    margin-left: 10px;

}

.get-start-areaE .submit:hover {
    background: #522F7D;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}


#scrollUp {
    bottom: 0;
    font-size: 24px;
    right: 30px;
    width: 50px;
    background-color: #522F7D;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


/* --------------------------
:: 3 App Download btn
-------------------------- */

.app-download-btnE a {
    border: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 30px 30px 30px 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app-download-btnE.active a,
.app-download-btnE a:hover {
    border-color: transparent;
    background-color: #F03D43;
}

.app-download-btnE a i {
    color: #47425d;
    font-size: 24px;
    margin-right: 15px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.app-download-btnE a p {
    font-size: 16px;
    line-height: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.app-download-btnE a p span {
    font-size: 12px;
    display: block;
}

.app-download-btnE:first-child {
    margin-right: 20px;
}

.app-download-btnE a:hover i,
.app-download-btnE.active a i,
.app-download-btnE.active a p,
.app-download-btnE a:hover p {
    color: #fff;
}

.special_description_contentE > h2 p{
    color: #522F7D;
    font-size: 48px;
    margin-bottom: 30px;
    alignment: left;
    margin-left: -100px;
}

.special_description_imgE{
    width: 65%;
    height: 80%;
    alignment: right;
    margin-left: 100px;
}
}
/* --------------------------
:: 5.0 Features Area CSS
-------------------------- */

.single-feature {
    margin-bottom: 50px;
}

.single-feature > p {
    margin-bottom: 0;
}

.single-feature > i {
    color: #522F7D;
    font-size: 30px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.single-feature > h5 {
    font-size: 22px;
    color: #F03D43;
}

.single-feature > p {
    margin-top: 15px;
}

.section-headingE > h2 {
    font-weight: 300;
    color: #F03D43;
    font-size: 48px;
    margin: 0;
}

/* --------------------------
::Contact Area CSS Start
-------------------------- */

.address-textE > p,
.phone-textE > p,
.email-textE > p {
    font-size: 18px;
    margin-bottom: 10px;
}

.address-textE > p > span,
.phone-textE > p > span,
.email-textE > p > span {
    color: #F03D43;
}

.footer-contact-areaE .line-shape {
    margin-left: 0;
}

.footer-contact-areaE .heading-text > p {
    margin-top: 50px;
}

.footer-contact-areaE .heading-text {
    margin-bottom: 50px;
}

#nameE {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
}

#emailE {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
}

#messageE {
    border-radius: 25px 25px 25px 0;
}

.btn.submit-btnE {
    background: #F03D43;
    height: 48px;
    min-width: 185px;
    color: #ffffff;
    font-weight: 500;
    vertical-align: bottom;
    border-radius: 22px 25px 22px 0;
   // margin-top: 60px;
}

.btn.submit-btnE:hover {
    background: #522F7D;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.footer-contact-areaE {
    background: #EFEEEE;
}

.footer-textE > p {
    margin-bottom: 50px;
}


.footer-social-iconE > a > i {
    background: #522F7D;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 10px 10px 10px 0px;
    margin-right: 10px;
}

.footer-social-iconE > a > i:hover {
    background: #522F7D;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.social-iconE {
    margin-bottom: 30px;
}


.footer-textE {
    margin-bottom: 15px;

}
.footer-textE i {
    width: 100px;

}

.footer-menuE ul li {
    display: inline-block;
}

.footer-menuE ul li a {
    border-right: 2px solid #522F7D;
    display: block;
    padding: 0 7.5px;
    color: #F03D43;
}

.footer-social-iconE > a .active {
    background: #F03D43;
}

.footer-menuE ul li:last-child a {
    border-right: 0 solid #ddd;
}

.footer-social-iconE {
    margin-bottom: 30px;
}

.footer-menuE {
    margin-bottom: 15px;
}

.copyright-textE > p {
    margin-bottom: 0;
    color: #000000;
}
